<mat-card>
    <mat-card-header>
        <mat-card-title>Register your Rural House</mat-card-title>
        <mat-card-subtitle>You'll be able to configure the calendar later</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field>
          <input matInput type="text" placeholder="House name" [formControl]="houseNameCtrl" required>
          <mat-error>Required field</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="email" placeholder="Contact mail" [formControl]="contactMailCtrl" required>
          <mat-error *ngIf="contactMailCtrl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-divider></mat-divider>
        <mat-form-field>
          <input matInput type="number" placeholder="Rooms" [formControl]="roomsCtrl" required>
          <mat-error>Required field</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="Beds" [formControl]="bedsCtrl" required>
          <mat-error>Required field</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="Bathrooms" [formControl]="bathsCtrl" required>
          <mat-error>Required field</mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="green" (click)="createHouse()" >Save</button>
      <button mat-button class="red">Cancel</button>
    </mat-card-actions>
  </mat-card>
